.community-page-header-image {
    border-radius: 50%;
    border: orangered 2px solid;
    background-color: white;
    height: 20vh;
    width: 20vh;
}

.community-page-container {
    margin-top: 20px;
}

.community-page-name {
    color: orangered;
}

.community-page-header-container {
    display: flex;
    gap: 5vw;
    align-items: center;
    margin-left: 3vw;
}


.community-page-posts-container {
    width: 30vw;
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-left: 10vw;
    border-radius: 15px;
}

.post-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
}


.community-page-details-container {
    /* margin-top: 50px; */
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 40px;
    margin-top: 20px;
}

.about-community-container {
    border: black 1px solid;
    border-radius: 15px;
    margin-right: 5vw;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
    height: fit-content;
    width: 30vw;
}

.about-community-description {
    text-wrap: wrap;
    text-align: center;
}
.manage-community-button-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.manage-community-button {
    border: 1px black solid;
    border-radius: 5px;
    padding: 5px;
    background-color: rgb(211, 209, 209);
    color: black;
    font-size: 12px;
}
button:hover {
    cursor: pointer;
}

.post-manage-buttons {
    display: flex;
    gap: 20px;
}
.update-post-button {
    border: 1px black solid;
    border-radius: 5px;
    padding: 5px;
    background-color: rgb(211, 209, 209);
    color: black;
    font-size: 12px;
}
