.post-page-create {
  width: 100vw;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.post-form {
  display: flex;
  flex-direction: column;
  border: 2px black solid;
  border-radius: 20px;
  background-color: rgb(173, 210, 221);
  padding: 40px;
  /* padding-bottom: 0px; */
  width: 30vw;
  gap: 10px;
}

.post-title-form {
  color: black;
  font-size: 30px;
  display: flex;
  justify-content: center;
}

.input-area {
  height: 40px;
  width: 150px;
  border-radius: 15px;
}

.input-image-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-image {
  display: flex;
  justify-content: center;
  text-align: center;
}

input[type="file"]::file-selector-button {
  border-radius: 2px;
  padding: 0 16px;
  height: 30px;
  cursor: pointer;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 1);
  margin-right: 16px;
}

.post-errors {
  color: red;
  font-weight: 800;
  margin: 0px;
  height: 20px;
}

.res-logo {
  width: 700px;
}

.column-styles {
  display: flex;
  /* text-align: start; */
  /* justify-content: flex-start; */
  justify-content: space-between;
  /* gap: 10px; */
}

.column-styles-image {
  display: flex;
  /* text-align: start; */
  /* justify-content: flex-start; */
  justify-content: space-between;
  /* gap: 10px; */
}

.post-submit {
  width: 80px;
  border-radius: 20px;
}

.loading {
  height: 20px;
}
