.community-header-image {
    border-radius: 50%;
    border: black 1px solid;
    height: 20vh;
    width: 20vh;
}

.community-header-container {
    display: flex;
    gap: 5vw;
    align-items: center;
    margin-left: 3vw;
}

.posts-container {
    margin-left: 20vw;
    width: 40vw;
    display: flex;
    flex-direction: column;
    gap: 50px;
    background-color: rgb(162, 209, 236);
    border: 2px black solid;
    padding-bottom: 30px;
}

.post-page-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40vw;
}


.community-details-container {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    background-image: url(https://t4.ftcdn.net/jpg/02/86/32/31/360_F_286323187_mDk3N4nGDaPkUmhNcdBe3RjSOfKqx4nZ.jpg);
    padding-top: 20px;
    padding-bottom: 40px;
}

.about-community-container {
    border: black 1px solid;
    margin-right: 5vw;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
    height: fit-content;
    background-color: rgb(162, 209, 236);
}
.manage-community-button-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.manage-community-button {
    background-color: rgb(42, 59, 59);
    color: white;
    font-size: medium;
    padding: 5px 24px;
    border-radius: 10px;
}
button:hover {
    cursor: pointer;
}

.post-manage-buttons {
    display: flex;
    gap: 20px;
}
.update-post-button {
    background-color: rgb(42, 59, 59);
    color: white;
    font-size: medium;
    padding: 5px 24px;
    border-radius: 10px;
}
